.home{
	background-color: #8b9694;
	min-height:100hv;

  }
  .login{
	background-color: rgb(142, 214, 241);
	min-height:100hv;
	text-align:center;
  }
  .register{
	background-color:lightgoldenrodyellow;
	min-height:100hv ;
  }
  .all{
	text-align: center;
	min-height: 100vh;
	font-size: calc(10px + 2vmin);
	color: rgb(23, 22, 22);
  }
  img{
	border-radius: 100%;
	margin-left: 40%;

	
  }
  h1{
	text-align:center;
  }
  button{
	margin-left: 80%;
	font-family:cursive;
	height:30px;
	width:100px;
	border-radius: 50px;
  }
  .Abc{
	margin-left: -5%;
  }
  .screen1{
	width:760px;
	height:650px;
  }
  .screen2{
	width:773px;
	height:650px;
	margin-left: 760px;
	margin-top: -650px;
  }
  p{
	text-align: center;
	font-family: cursive;
  }
  .inputfield{
	height:30px;
	width:83%;
	margin-left:5%;
	margin-top: 1%;
  }
  .enter{
	margin-top:-1%;
	margin-left: 2%;
  }
  .color{
	background-color:lightgray;
	min-height: 100vh;
  }
  