.home {
	background-color: #a2eee0;
  }
  .register{
	background-color:lightblue;
  }
  .LoginPage{
	background-color:rgb(137, 234, 206);
  }
  .all{
	text-align: center;
	min-height: 100vh;
	font-size: calc(10px + 2vmin);
	color: rgb(233, 57, 21);
  }
  img{
	border-radius: 50%;
  }
 button{
	margin-left:80%;
	font-family:cursive;
	height:30px;
	width:100px;
	border-radius: 50px;
  }
  p{
	text-align:center;
	font-family:cursive;
  }
  h1{
	font-family:cursive;
	color:rgb(6, 6, 72);
  }
  .Abc{
	margin-left: -5%;
  }
  .screen1{
	width:760px;
	height:650px;
  }
  .screen2{
	width:773px;
	height:650px;
	margin-left: 760px;
	margin-top: -650px;
  }
  .inputfield{
	height:30px;
	width:83%;
	margin-left:5%;
	margin-top: 1%;
  }
  .enter{
	margin-top:-1%;
	margin-left: 2%;
  }
  .color{
	background-color:lightgray;
	min-height: 100vh;
  }